.theme {
	background: linear-gradient(to right,
			rgba(2, 133, 173, 0.87),
			rgba(2, 105, 173, 0.87));
}

.backGround {
	background: linear-gradient(to right,
			rgba(2, 105, 173, 0.479),
			rgba(2, 105, 173, 0.479)),
		url(./../../../public/smartinfo-banner1.png);
	background-repeat: no-repeat;
	background-position: right;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
